<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>House price prediction</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="/static/app.js"></script>
  </head>
  <body>
    <div class="container pb-5 pt-4 w-75 id=formcontainer">
      <div class="card-body w-75">
        <h2 class="card-title">Immo price predictor</h2>
        <form>
          <div class="form-group">
            <label for="uiLocations">Location</label>
            <select id="uiLocations" class="form-control">
              <option selected>Choose location</option>
              <option>...</option>
            </select>
          </div>

          <div class="form-group">
            <label for="uiLivingArea" class="form-label"
              >Living area (m²)</label
            >
            <input
              type="range"
              id="uiLivingArea"
              name="amountRange"
              min="50"
              max="300"
              value="50"
              oninput="this.form.amountInput.value=this.value"
            />
            <input
              type="number"
              id="uiLivingArea"
              name="amountInput"
              min="50"
              max="300"
              value="50"
              oninput="this.form.amountRange.value=this.value"
            />
          </div>
          <div class="form-group">
            <label for="uiSurfaceArea" class="form-label"
              >Surface area (m²)</label
            >
            <input
              type="range"
              id="uiSurfaceArea"
              name="amountRange1"
              min="0"
              max="1000"
              value="0"
              oninput="this.form.amountInput1.value=this.value"
            />
            <input
              type="number"
              id="uiSurfaceArea"
              name="amountInput1"
              min="0"
              max="1000"
              value="0"
              oninput="this.form.amountRange1.value=this.value"
            />
          </div>

          <div class="form-group">
            <label for="uiCondition" class="form-label">Condition</label>
            <input
              type="range"
              id="uiCondition"
              name="amountRange3"
              min="0"
              max="5"
              value="0"
              oninput="this.form.amountInput3.value=this.value"
            />
            <input
              type="number"
              id="uiCondition"
              name="amountInput3"
              min="0"
              max="5"
              value="0"
              oninput="this.form.amountRange3.value=this.value"
            />
          </div>
          <div class="form-group">
            <label for="uiBedrooms" class="form-label"
              >Number of bedrooms</label
            >
            <input
              type="number"
              id="uiBedrooms"
              name="amountInput2"
              min="0"
              max="5"
              value="0"
            />
          </div>
          <div class="form-group">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="pool" />
              <label class="form-check-label" for="pool">Pool</label>
            </div>
          </div>
          <div>
            <button
              type="button"
              onclick="estimatedPriceOnclick()"
              class="btn btn-dark"
            >
              Calculate the price
            </button>
            <div class="pt-4" id="uiEstimatedPrice"><h2></h2></div>
          </div>
        </form>
      </div>
    </div>

    <script></script>
  </body>
</html>
